{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Connect</title>
    <link rel="icon" type="image/png" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/core.css' %}?v=1.2">
</head>
<body>
    <nav style="background-color: #003366; " role="navigation" aria-label="Main navigation">
        <div class="container">
            <div class="nav-brand">
                <img src="{% static 'image/logo.png' %}" alt="Kasenyi Pinnacles" class="logo">
                <span>Kasenyi Pinnacles</span>
            </div>
            {% comment %} <button class="hamburger" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button> {% endcomment %}
            
        </div>
    </nav>
    <div class="home-container">
        <div class="main-content">
            <section class="hero-section">
                <h1>Kasenyi Pinnacles</h1>
                <img src="{% static 'image/logo.png' %}" alt="Kasenyi Pinnacles Logo" class="logo">
                <p class="tagline">Marching to the peak</p>
            </section>
            
        </div>
    </div>
    <div class="auth-links">
        <div>
            <a href="{% url 'login' %}" >Login</a>
        </div>
        <div>
            <a href="{% url 'register' %}">Register</a>  
        </div>
    </div>
   
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const hamburger = document.querySelector('.hamburger');
            const navLinks = document.querySelector('.nav-links');
            const links = document.querySelectorAll('.nav-link');

            if (hamburger && navLinks) {
                hamburger.addEventListener('click', () => {
                    navLinks.classList.toggle('active');
                });
            }

            if (links) {
                links.forEach(link => {
                    link.addEventListener('click', () => {
                        navLinks.classList.remove('active');
                    });
                });
            }
        });
    </script>
</body>
</html>