{% extends "base.html" %}
{% block title %}Job Opportunities{% endblock %}

{% block content %}

<div class="job-list-container">
    <h1 class="page-title">Job Opportunities</h1>
    {% for job in jobs %}
        <div class="job-card">
            <a href="{% url 'jobs:job_detail' job.pk %}">{{ job.title }}</a>
            <div class="job-details">
                {{ job.company }}({{ job.location }}) —  
                Deadline: {{ job.application_deadline }}
            </div>
        </div>
    {% empty %}
        <p>No job openings available right now.</p>
    {% endfor %}
</div>
{% endblock %}
